
@{
    ViewBag.Title = "Dataset";
    Layout = "~/Views/Shared/_LayoutPageHF.cshtml";
    <script src='https://cdn.plot.ly/plotly-2.16.1.min.js'></script>
}

<div class="w-75 ms-auto me-auto text-center" style="overflow-x:scroll">
    <div class="w-75 ms-auto me-auto text-center">
        <div class="d-flex">
            <div id='countItem' class="w-50"></div>
            <div id='piePrecision' class="w-50"></div>
        </div>
        @*<div class="d-flex">
            <div id='piePrecision' class="w-50"></div>
            <div id='pieRecall' class="w-50"></div>
        </div>*@
        <script>
            var trace1 = {
                x: ['Không bị'],
                y: @ViewBag.CountPos,
                name: 'Không bị',
                type: 'bar',
                text: (@ViewBag.CountPos).map(String)
            };

            var trace2 = {
                x: ['Bị'],
                y: @ViewBag.CountNe,
                name: 'Bị',
                type: 'bar',
                text: (@ViewBag.CountNe).map(String)
            };


            var data = [trace1, trace2];

            //var layout = { barmode: 'group' };
            var layout = {
                title: 'Số liệu số lượng dữ liệu thu thập'
            };

            Plotly.newPlot('countItem', data, layout);

        </script>
        <script>
            var precision = [{
                values: @ViewBag.Precision,
                labels: ['Chính xác', 'Không chính xác'],
                type: 'pie'
            }];

            var layout = {
                title: 'Tỉ lệ chính xác của tập dữ liệu'
            };
            @*var recall = [{
                values: @ViewBag.Recall,
                labels: ['Không bỏ sót', 'Bỏ sót'],
                type: 'pie'
            }];*@

            Plotly.newPlot('piePrecision', precision, layout);

            //layout = {
            //    title: 'Tỉ lệ bỏ sót của tập dữ liệu'
            //};
            //Plotly.newPlot('pieRecall', recall, layout);
        </script>
        
    </div>
    <h2 style="text-transform:uppercase; color:var(--primary)">Dữ liệu thu thập</h2>
    <table class="table text-center">
        <tr>
            <th>
                Pregnancies
            </th>
            <th>
                Glucose
            </th>
            <th>
                BloodPressure
            </th>
            <th>
                SkinThickness
            </th>
            <th>
                Insulin
            </th>
            <th>
                BMI
            </th>
            <th>
                DiabetesPedigreeFunction
            </th>
            <th>
                Age
            </th>
            <th>
                Outcome
            </th>
        </tr>
        @Html.Raw(ViewBag.Diabetes)

    </table>
</div>

